<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>mwoods-key-val-api</title>
  <meta name="description" content="API for simple key value store">
  <meta name="mwoods" content="">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
<p>
Thanks for visiting the site this is designed as a simple Key Value Store
for various projects I'm working if you have any question you can checkout the site on github.
</p>

  <script src="js/scripts.js"></script>
</body>
</html>