<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>mwoods-key-val-api</title>
  <meta name="description" content="API for simple key value store">
  <meta name="mwoods" content="">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

<div class="container">
    <div class="row">
        <h1>Hi Welcome to My Wrapper for the GAE Datastore</h1>
        <p>
            Thanks for visiting the site. This is designed as a simple API Based Key Value Store
            for various projects I'm working on if you have any question you can checkout the source code on
            <a target = "_blank" href="https://github.com/mkowoods/mw-key-val-dev">github</a> and post comments
            to the issues section. This under current development so the source code is bound to change.
        </p>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>